.embedderContainer {
  width: 100%;
  outline: none
}

.embedderInput {
  width: 100%;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.embed {
  outline: none;
  width: 100%;
  height: auto;
  display: inline-block;
}
